<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<p><h2>Godziny:</h2></p>
<p><h3>Dodaj nowe: <a href="/user/workingtime/add">Dodaj</a></h3></p>
<p><h3>Wyświetl wszystkie: <a href="/user/workingtime/all">Wszystkie</a></h3></p>
<p><h2>Dane:</h2></p>
<p><h3>Zmień dane: <a href="editdata">Edytuj</a></h3></p>
<p><h3>Zmień hasło: <a href="editpassword">Zmień hasło</a></h3></p>
<p><h2>Wyloguj: <a href="/logout">Wyloguj</a></h2></p>
</body>
</html>