<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie godzin</title>
</head>
<body>
<h2>Podsumowanie</h2>
<form action="/admin/workingtime/all" method="post">
    <p>Miesiąc: <input type="month" th:name="date"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
<h2>Zestawienie za miesiąc <span th:text="${monthMap.get(month)}"/> <span th:text="${year}"/></h2>
<table>
    <tr>
        <th>L.p</th>
        <th>Pracownik</th>
        <th>Liczba godzin w miesiącu</th>
        <th>Koszt</th>
        <th>Akcja</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getId()}">Id</span></td>
        <td><span th:text="${user.getFirstName() + ' ' + user.getLastName()}">Name</span></td>
        <td><span th:text="${allHours.get(user.getId())}"/></td>
        <td><span th:text="${allCosts.get(user.getId())}"/></td>
        <td><a th:href="@{/admin/workingtime/info?id={id}&month={month}&year={year}
        (id=${user.getId()},month=${month},year=${year})}">Szczegóły</a></td>
    </tr>
</table>
<p><h5>Dashboard: <a href="/admin/dashboard">Dashboard</a></h5></p>
</body>
</html>