<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="admin/fragments/head.html :: head"></div>

    <title>Użytkownicy</title>
</head>
<body>
<div th:insert="admin/fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="admin/fragments/sidebar :: sidebar"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Użytkownicy</h1>

            </div>
            <h2>Wszyscy użytkownicy</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>L.p</th>
                        <th>Login</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>E-mail</th>
                        <th>Numer telefonu</th>
                        <th>Zarobki na godzinę</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user,counter : ${users}">
                        <td><span th:text="${counter.count}">Id</span></td>
                        <td><span th:text="${user.getUsername()}">Login</span></td>
                        <td><span th:text="${user.getFirstName()}">Name</span></td>
                        <td><span th:text="${user.getLastName()}">Surname</span></td>
                        <td><span th:text="${user.getEmail()}">Email</span></td>
                        <td><span th:text="${user.getPhoneNumber()}">PhoneNumber</span></td>
                        <td><span th:text="${user.getSalaryPerHours()}">Salary</span></td>
                        <td><a class="btn btn-success" th:href="@{/admin/user/edit?id={id}(id=${user.getId()})}">Edytuj</a>
                            <a class="btn btn-danger" th:href="@{/admin/user/delete?id={id}(id=${user.getId()})}"
                               th:onclick="return confirm('Czy chcesz usunąć użytkownika?')">Usuń</a>
                            <a class="btn btn-info" th:href="@{/admin/user/changerole?id={id}(id=${user.getId()})}"
                               th:onclick="return confirm('Czy chcesz zmienić rolę użytkownika?')">Zmień rolę</a>
                            <a class="btn btn-warning" th:href="@{/admin/user/resetpassword?id={id}(id=${user.getId()})}"
                               th:onclick="return confirm('Czy chcesz zresetować hasło?')">Resetuj hasło</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<div th:insert="admin/fragments/footer :: footer"></div>
</body>
</html>