<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja użytkownika</title>
</head>
<body>
<form action="/admin/user/edit" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>Login: <input type="text" th:field="*{username}" /></p>
    <p>Imię: <input type="text" th:field="*{firstName}" /></p>
    <p>Nazwisko: <input type="text" th:field="*{lastName}" /></p>
    <p>E-mail: <input type="email" th:field="*{email}" /></p>
    <p>Numer telefonu: <input type="tel" th:field="*{phoneNumber}" /></p>
    <p>Zarobki na godzinę: <input type="number" th:field="*{salaryPerHours}" /></p>
    <p><input type="submit" value="Submit"/></p>
</form>
<p><h3><a href="/admin/user/all">Powrót</a></h3></p>

</body>
</html>