<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wszyscy dostawcy</title>
</head>
<body>
<h2>Dostawcy</h2>
<table>
    <tr>
        <th>L.p</th>
        <th>Nazwa</th>
        <th>Akcja</th>
    </tr>
    <tr th:each="supplier : ${suppliers}">
        <td><span th:text="${supplier.getId()}">Id</span></td>
        <td><span th:text="${supplier.getName()}">Name</span></td>
        <td><a th:href="@{/admin/supplier/edit?id={id}(id=${supplier.getId()})}">Edytuj</a>
            <a th:href="@{/admin/supplier/delete?id={id}(id=${supplier.getId()})}">Usuń</a></td>
    </tr>
</table>
<p><h5>Dashboard: <a href="/admin/dashboard">Dashboard</a></h5></p>
</body>
</html>