<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="user/fragments/head.html :: head"></div>

    <title>Edytuj hasło</title>
</head>
<body>
<div th:insert="user/fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="user/fragments/sidebar :: sidebar"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Edytuj hasło</h1>

            </div>
            <h2>Edytuj dane</h2>
            <div class="table-responsive">
                <form action="/user/editpassword" th:object="${password}" method="post">
                    <div class="mb-3">
                        <label for="oldpass" class="form-label">Stare hasło</label>
                        <input type="password" th:field="*{oldPassword}" class="form-control" id="oldpass" th:errorclass="is-invalid"/>
                        <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="newpass1" class="form-label">Nowe hasło</label>
                        <input type="password" th:field="*{newPassword1}" class="form-control" id="newpass1" th:errorclass="is-invalid"/>
                        <div th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="newpass2" class="form-label">Powtórz hasło</label>
                        <input type="password" th:field="*{newPassword2}" class="form-control" id="newpass2" th:errorclass="is-invalid"/>
                        <div th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}" class="invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </form>
            </div>
        </main>
    </div>
</div>
<div th:insert="user/fragments/footer :: footer"></div>
</body>
</html>