<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie inwestycje</title>
</head>
<body>
<h2>Dostawcy</h2>
<table>
    <tr>
        <th>L.p</th>
        <th>Nazwa</th>
        <th>Budżet</th>
        <th>Koszty</th>
        <th>Marża</th>
        <th>Akcja</th>
    </tr>
    <tr th:each="investity : ${investities}">
        <td><span th:text="${investity.getId()}"/></td>
        <td><span th:text="${investity.getInvestityName()}"/></td>
        <td><span th:text="${investity.getBudget()}"/></td>
        <td><span th:text="${allCosts.get(investity.getId())}"/></td>
        <td><span th:text="${allMargins.get(investity.getId())}"/></td>
        <td><a th:href="@{/admin/investity/edit?id={id}(id=${investity.getId()})}">Edytuj</a>
            <a th:href="@{/admin/investity/delete?id={id}(id=${investity.getId()})}"
               th:onclick="return confirm('Czy chcesz usunąć inwestycję?')">Usuń</a>
            <a th:href="@{/admin/investity/info?id={id}(id=${investity.getId()})}">Szczegóły</a></td>
    </tr>
</table>
<p><h5>Dashboard: <a href="/admin/dashboard">Dashboard</a></h5></p>
</body>
</html>