<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj inwestycję</title>
</head>
<body>
<form action="/admin/investity/edit" th:object="${investity}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>Nazwa: <input type="text" th:field="*{investityName}" /></p>
    <p>Budżet: <input type="number" th:field="*{budget}" /></p>
    <p><input type="submit" value="Submit"/></p>
</form>
<p><h3><a href="/admin/investity/all">Powrót</a></h3></p>

</body>
</html>